<body>
  <section>
    <div style="height: 25vh;">
      <div class="bg-secondary bg-gradient w-75 h-100"></div>
    </div>
      <div style="height: 25vh;">
            <div class="container d-flex align-items-center justify-content-center text-center h-50">
              <div class="text-white">
                <h1 class="display-1 fw-bold"><strong>Oops...</strong></h1>
                <h1 class="display-3 fw-bold">Page not found</h1>
                <h1 class="display-4 fw-bold">Check out our home page</h1>
                <button type="button" class="btn btn-primary me-2"> Click here</button>
              </div>
            </div>
      </div>
    <div class="d-flex justify-content-end align-items-end" style="height: 20vh;">
      <div class="bg-info bg-gradient w-50 h-50 "></div>
    </div>
  </section>
</body>
