  <body>
    <section>
      <div class="container">
          <div class="py-5">
            <h1 class="display-2 fw-bold text-center">Membership Plans</h1>
          </div>
          <div class="price-card-layout">
            <div class="bg-info bg-gradient m-1 d-flex flex-column justify-content-between p-3">
              <h3 class="display-4 fw-bold text-dark">Join for free</h3>
              <p class="fs-4">Reach your fitness goals or maintain your healthy lifestyle with <strong class="text-dark">professional</strong></p>
              <ul>
                <li>600 Full-Length Workout Videos</li>
                <li>Customizable Calendar</li>
                <li>Customizable Calendar</li>
              </ul>
              <div class="text-dark price-grid p-1">
                <div class="bg-white p-1 rounded">
                  <p>monthly</p>
                  <span><strong class="display-5 fw-bold">Rs.0</strong></span>
                </div>
                <div class="bg-white p-1 rounded">
                  <p>yearly</p>
                  <span><strong class="display-5 fw-bold">Rs.0</strong></span>
                </div>
              </div>
              <div class="d-grid align-content-end mt-3">
                <button type="button" class="btn btn-outline-dark"><strong>Join Now</strong></button>
              </div>
            </div>
            <div class="bg-primary bg-gradient m-1 d-flex flex-column justify-content-between p-3">
              <h3 class="display-4 fw-bold text-dark text-center">Premium</h3>
              <p class="fs-4">FB Plus includes everything you get with a free membership and adds brand new , fitness tools</p>
              <ul>
                <li>Surprise Me Workout Selection Tool</li>
                <li>Statistics for Your Activities</li>
                <li>Enter and Track Custom Workouts</li>
              </ul>
              <div class="text-dark price-grid p-1">
                <div class="bg-white p-1 rounded">
                  <p>monthly</p>
                  <span><strong class="display-5 fw-bold">Rs.199</strong></span>
                </div>
                <div class="bg-white p-1 rounded">
                  <p>yearly</p>
                  <span><strong class="display-5 fw-bold">Rs.1999</strong></span>
                </div>
              </div>
              <div class="d-grid mt-3">
                <button type="button" class="btn btn-outline-dark"><strong>Join Now</strong></button>
              </div>
            </div>
            <div class="bg-secondary bg-gradient m-1 d-flex flex-column justify-content-between p-3">
              <h3 class="display-4 fw-bold text-dark">Join for free</h3>
              <p class="fs-4">Reach your fitness goals or maintain your healthy lifestyle with <strong class="text-dark">professional</strong></p>
              <ul>
                <li>600 Full-Length Workout Videos</li>
                <li>Customizable Calendar</li>
                <li>Customizable Calendar</li>
              </ul>
              <div class="text-dark price-grid p-1">
                <div class="bg-white p-1 rounded">
                  <p>monthly</p>
                  <span><strong class="display-5 fw-bold">Rs.399</strong></span>
                </div>
                <div class="bg-white p-1 rounded">
                  <p>yearly</p>
                  <span><strong class="display-5 fw-bold">Rs.3599</strong></span>
                </div>
              </div>
              <div class="d-grid mt-3">
                <button type="button" class="btn btn-outline-dark"><strong>Join Now</strong></button>
              </div>
            </div>
        </div>
      </div>
    </section>
  </body>
