
  <body>
    <section>
      <div style="height: 25vh;">
        <div class="bg-secondary bg-gradient w-75 h-100"></div>
      </div>
        <div style="height: 25vh;">
              <div class="container d-flex align-items-center justify-content-center text-center h-50">
                <div class="text-white">
                  <h1 class="display-2 fw-bold">What hurts today</h1>
                  <h1 class="display-2 fw-bold">makes you <strong class="text-primary">stronger</strong></h1>
                  <h1 class="display-2 fw-bold">tomorrow</h1>
                  <span>strike for the best</span>
                </div>
              </div>
        </div>
      <div class="d-flex justify-content-end align-items-end" style="height: 20vh;">
        <div class="bg-info bg-gradient w-50 h-50 "></div>
      </div>
    </section>
    <section class="mt-10-rem mt-5-rem bg-sec-color py-5 text-white">
      <div class="container ">
        <div class="section-2">
          <div class="col p-4 mx-1 section-2-p-1" style="background-color: black;">
            <h1 class="display-4 fw-bold">Work out at home for free.</h1>
            <p class="fs-5">We believe fitness should be accessible to everyone, everywhere, regardless of income or access to a gym. With hundreds of professional workouts, healthy recipes and informative articles, as well as one of the most positive communities on the web, you’ll have everything you need to reach your personal fitness goals – for free! </p>
              <div class="d-flex">
                <button type="button" class="btn btn-outline-primary me-2"> Browse videos</button>
                <button type="button" class="btn btn-primary px-5">Join</button>
              </div>
          </div>
          <div class="section-2-p-2">
            <img class="img-fluid" src="/assets/images/devices.svg" alt="Electronic devices">
          </div>
          <div class="section-2-p-3">
            <img class="img-fluid" src="/assets/images/credit_card.svg" alt="Electronic devices">
          </div>
          <div class="col p-4 mx-1 mt-3 section-2-p-4" style="background-color: black;">
            <h1 class="display-4 fw-bold">Get more with low-cost training programs and advanced features.</h1>
            <p class="fs-5">If you want more guidance or additional tools to get the most out of all the content available, we also have low-cost, professionally developed programs and meal plans to follow, and a monthly membership that adds extra, exclusive workout videos, monthly workout challenges, and a growing list of advanced features for planning and tracking your workouts. </p>
              <div class="d-flex">
                <button type="button" class="btn btn-outline-primary me-2"> Browse videos</button>
                <button type="button" class="btn btn-primary px-4">Try Premium</button>
              </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-10-rem mt-5-rem">
      <div class="container">
          <p class="fs-4 text-center">Programs offer day-to-day guidance on an interactive calendar to keep you on track.</p>
        <div class=" mt-5 video-container-layout">
          <a class="card" href="#">
            <img src="/assets/images/ryan-de-hamer.jpg" class="card-img-top" alt="Some design">
            <div class="card-content">
              <h3> 4 Week Program</h3>
              <p class="small">FB Low Impact Round Build Muscle & Burn Fat - 40 Minutes or Less</p>
            </div>
          </a>
          <a class="card" href="#">
            <img src="/assets/images/karsten-winegeart.jpg" class="card-img-top" alt="Some design">
            <div class="card-content">
              <h3> 5 Week Program</h3>
              <p class="small">FB Low Impact Round Build Muscle & Burn Fat - 30 Minutes or Less</p>
            </div>
          </a>
          <a class="card" href="#">
            <img src="/assets/images/jonathan-borba.jpg" class="card-img-top" alt="Some design">
            <div class="card-content">
              <h3> 6 Week Program</h3>
              <p class="small">FB Low Impact Round Build Muscle & Burn Fat - 20 Minutes or Less</p>
            </div>
          </a>
          <a class="card" href="#">
            <img src="/assets/images/jamie-ginsberg.jpg" class="card-img-top" alt="Some design">
            <div class="card-content">
              <h3> 8 Week Program</h3>
              <p class="small">FB Low Impact Round - Build Muscle & Burn Fat - 15 Minutes or Less</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section class="bg-primary bg-gradient mt-10-rem mt-5rem">
      <div class="container">
        <h3 class="fs-5 pt-5 pb-3 text-center">About FitApp</h3>
        <div class="text-center">
          <h1 class="display-2 fw-bold">Created by personal trainers, Raven and Joseph — two close friends passionate about helping you achieve your health and fitness goals.</h1>
        </div>
      </div>
      <div class="section-grid-4 py-5">
        <div class="section-4 mb-sm-4">
          <div class="section-4-container text-center">
            <h1 class="display-1 fw-bold text-dark">35+</h1>
            <span>35+ million workouts completed each month by our amazing Fitness Blender Family.</span>
          </div>
        </div>
        <div class="section-4 mb-sm-4">
          <div class="section-4-container text-center">
            <h1 class="display-1 fw-bold text-dark">500+</h1>
            <span>500+ free workout videos for every fitness level + effective & affordable workout programs.</span>
          </div>
        </div>
        <div class="section-4 mb-sm-4">
          <div class="section-4-container text-center">
            <h1 class="display-1 fw-bold text-dark">25+</h1>
            <span >25+ years of combined experience helping people achieve their fitness & health goals.</span>
          </div>
        </div>

      </div>
    </section>
    <section class="mt-10-rem mt-5-rem">
      <div class="container">
        <h1 class="display-4 fw-bold text-center mb-5">Testimonies</h1>
      </div>
        <div class="mx-10-rem mx-5-rem">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Raven Jabha Joseph
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body text-dark">
                 We love going to our gym. We see our gym mates, have a chat, get a great workout each time and have a coffee after, what else do you want?
                We have a group warmup first (once we settle) usually having fun doing this in a circle or team events. Working on our balance, ball skills, team bonding or just cheating while trying to beat the others. Then we settle down to our own program which keeps us subtle and fit. Great stuff!! Thanks
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Joseph Raven
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body text-dark">
                You wont be on your own unless you choose to be (socially that is), the instructors keep an eye on what you do to correct technique and to introduce new routines so boredom can't catch hold! We support and encourage each other and as I've said before, we have a lot of laughs
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Greta Baker
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body text-dark">
                I have worked for over 30 years and other exercise was sporadic. I would say that I am moderately fit. I joined the Strength for Life group to motivate me to exercise daily so that I am fit and mobile in my senior years. I love the group sessions, everyone is friendly and helpful, especially to a newbie like me.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-10-rem mt-5-rem bg-success bg-gradient">
      <div class="container">
        <div class="py-5 text-center">
          <h1 class="display-5 fw-bold text-dark col">Ready to try a FitApp workout?</h1>
          <div class="mt-4">
            <button type="button" class="btn btn-outline-dark btn-lg px-5">Get started Today</button>
          </div>
        </div>
            </div>
    </section>
  </body>
