
<body>
  <div class="py-5">
    <h1 class="display-2 fw-bold text-center">Meal Plans</h1>
  </div>
  <section class="bg-white">
    <div class="container">
      <div class="pt-5">
        <div class="text-dark">
          <h3 class="fs-3 fw-bold">BREAKFAST</h3>
          <p>These programs utilize Fitness Blenders online calendar system allowing you to access your meal plan from anywhere you have access to Fitness Blenders website.</p>
        </div>
        <div class="meal-grid meal-type">
          <div class="p-0">
            <img src="/assets/images/dan-gold.jpg" class="img-fluid" alt="Photo by Dan Gold">
          </div>
          <div class="align-self-center p-3">
            <h3 class="fw-bold">Break the fast in the morning</h3>
            <h4>Eat real food and feel great!</h4>
            <p>This Fitness Blender Calendar based plan, built with registered dietitians and nutritionists, is a healthy, plant based meal plan which details 3 meals, and 3 snacks, every day for four weeks. There is a corresponding downloadable and printable grocery list for each week, and there are 5 different calorie allotments to choose from so that you can customize these plans to meet your exact goals (weight loss, gain, or maintenance). We have also included suggestions for modifying for food allergies, intolerance, and availability, as well as food costs, cooking for a family, and more. Couple this 4 Week Meal Plan with one of our Workout Programs for best results. </p>
            <button type="button" class="btn btn-primary btn-lg">Learn More</button>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <div class="text-dark">
          <h3 class="fs-3 fw-bold">LUNCH</h3>
          <p>These programs utilize an eBook format allowing you to view, print or upload it to an eReader device.</p>
        </div>
        <div class="meal-grid meal-type">
          <div>
            <img src="/assets/images/louis-hansel.jpg" class="img-fluid" alt="Photo by Louis Hansel">
          </div>
          <div class="align-self-center p-3">
            <h3 class="fw-bold">FB - 4 Week Omnivore Meal Plan and Nutrition Guide</h3>
            <h4>Eat real food and feel great!</h4>
            <p>Built with registered dietitians and nutritionists, this healthy, clean-eating meal plan details 3 meals, and 3 snacks, every day for four weeks. There is a corresponding grocery list for each week, and there are 5 different calorie allotments to choose from so that you can customize this plan to meet your exact goals (weight loss, gain, or maintenance). Includes suggestions for modifying for food allergies, intolerance, and availability, as well as food costs, cooking for a family, and more. Couple this 4 Week Meal Plan with our 8 Week Fat Loss Programs for foolproof results.</p>
            <button type="button" class="btn btn-primary btn-lg">Learn More</button>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="text-dark">
          <h3 class="fs-3 fw-bold">DINNER</h3>
          <p>These programs utilize an eBook format allowing you to view, print or upload it to an eReader device.</p>
        </div>
        <div class="meal-grid meal-type">
          <div class="p-0">
            <img src="/assets/images/ella-olsson.jpg" class="img-fluid" alt="Photo by Ella Olsson">
          </div>
          <div class="align-self-center p-3">
            <h3 class="fw-bold">FB - 4 Week Meal Plan</h3>
            <h4>Eat real food and feel great!</h4>
            <p>Built with registered dietitians and nutritionists, this healthy, clean-eating meal plan details 3 meals, and 3 snacks, every day for four weeks. There is a corresponding grocery list for each week, and there are 5 different calorie allotments to choose from so that you can customize this plan to meet your exact goals (weight loss, gain, or maintenance). Includes suggestions for modifying for food allergies, intolerance, and availability, as well as food costs, cooking for a family, and more. Couple this 4 Week Meal Plan with our 8 Week Fat Loss Programs for foolproof results.</p>
            <button type="button" class="btn btn-primary btn-lg">Learn More</button>
          </div>
        </div>
      </div>
      <div class="py-5">
        <div class="text-dark">
          <h3 class="fs-3 fw-bold">NUTRINFO</h3>
          <p>These programs utilize an eBook format allowing you to view, print or upload it to an eReader device.</p>
        </div>
        <div class="meal-grid meal-type">
          <div class="p-0">
            <img src="/assets/images/ella-olsson.jpg" class="img-fluid" alt="Photo by Ella Olsson">
          </div>
          <div class="align-self-center p-3">
            <h3 class="fw-bold">FB - 4 Week Meal Plan</h3>
            <h4>Eat real food and feel great!</h4>
            <p>Built with registered dietitians and nutritionists, this healthy, clean-eating meal plan details 3 meals, and 3 snacks, every day for four weeks. There is a corresponding grocery list for each week, and there are 5 different calorie allotments to choose from so that you can customize this plan to meet your exact goals (weight loss, gain, or maintenance). Includes suggestions for modifying for food allergies, intolerance, and availability, as well as food costs, cooking for a family, and more. Couple this 4 Week Meal Plan with our 8 Week Fat Loss Programs for foolproof results.</p>
            <button type="button" class="btn btn-primary btn-lg">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

