<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
      <div class="container-fluid">
        <a class="navbar-brand ms-rem" href="#">
          <img src="/assets/images/Logo.png" height="30" width="80" alt="FitApp">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pt-1">
            <li class="nav-item ms-5">
              <a class="nav-link active fw-bold " aria-current="page" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link" routerLink="/memberships-plans" routerLinkActive="active">Plans</a>
            </li>
            <li class="nav-item dropdown ms-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Programs
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/meal-plans">Meal Plans</a></li>
                <li><a class="dropdown-item" routerLink="/workout-programs">Workout Programs</a></li>
                <li><a class="dropdown-item" routerLink="/workout-types">Workout Types</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <button type="button" class="btn btn-outline-primary ms-5">Join</button>
            <button type="button" class="btn btn-primary ms-3 me-5">Hi! Login</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
