<footer class="pt-rem ">
  <div class="container">
    <div class="footer-grid">
      <img src="/assets/images/Logo.png" class="img-fluid" alt="FitApp" width="50%">
      <div class=" ms-5  footer-grid-content mb-rem" >
        <div >
          <ul class="list-unstyled">
            <li><a href="" class="text-decoration-none">Healthy Living</a></li>
            <li><a href="" class="text-decoration-none">Fitness</a></li>
            <li><a href="" class="text-decoration-none">Health</a></li>
            <li><a href="" class="text-decoration-none">Nutrition</a></li>
            <li><a href="" class="text-decoration-none">Healthy Recipes</a></li>
            <li><a href="" class="text-decoration-none">Experts</a></li>
          </ul>
        </div>
        <div>
          <ul class="list-unstyled ">
            <li><a href="" class="text-decoration-none">Workouts
            </a></li>
            <li><a href="" class="text-decoration-none">Workout Videos</a></li>
            <li><a href="" class="text-decoration-none">Custom Workouts</a></li>
            <li><a href="" class="text-decoration-none">Programs</a></li>
            <li><a href="" class="text-decoration-none">Workout Programs</a></li>
            <li><a href="" class="text-decoration-none">Meal Plans Living</a></li>
          </ul>
        </div>
        <div>
          <ul class="list-unstyled ">
            <li><a href="" class="text-decoration-none">About
            </a></li>
            <li><a href="" class="text-decoration-none">Careers</a></li>
            <li><a href="" class="text-decoration-none">Tutorials</a></li>
            <li><a href="" class="text-decoration-none">Our Team
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="pb-4">
      <span >Copyright <span>&copy;</span> 2021 FitApp. All rights reserved. Terms and Conditions | Privacy Policy</span>
    </div>
</div>
</footer>

