
<body>
  <div class="py-5">
    <h1 class="display-2 fw-bold text-center">Workout Programs</h1>
  </div>
  <section class="bg-white">
  <div class="container">
    <div class="card-grid">
        <div>
          <div class="card">
            <img src="/assets/images/anupam-mahapatra.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/boxed-water-is-better.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/bruno-nascimento.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/eduardo-cano.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/elena-kloppenburg.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/kelly-sikkema.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/kelly-sikkema.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/jonathan-borba.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/karsten-winegeart.jpg" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">15 minute Workout</h5>
              <p class="card-text">Some quick example text to build on the 15 minute Workout and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
</body>

