<app-header></app-header>
<body>
  <div class="py-5">
    <h1 class="display-2 fw-bold text-center">Workout Programs</h1>
  </div>
  <section class="bg-white">
  <div class="container">
    <div class="card-grid">
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
          <img src="/assets/images/fitapp-hero-bg.png" class="card-img-top" alt="Some design">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</section>
</body>
<app-footer></app-footer>
