/* You can add global styles to this file, and also import other style files */
@import 'src/scss/custom.scss';
@import 'src/scss/footer.scss';

body {
  background-color: #121212;
  color: white;
}

header {
  font-family: Poppins, sans-serif;
}

